/*!
 * HUD v5.0.0 (https://seantheme.com/hud/)
 * Copyright 2025 SeanTheme
 */

@import '_functions.scss';
@import '_variables.scss';
@import '_variables-dark.scss';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
@import '_utilities.scss';
@import 'bootstrap/scss/utilities/api';

// Selective Bootstrap imports (full import removed for performance)
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/list-group';
@import 'bootstrap/scss/close';

// Unused Bootstrap components (re-enable as needed):
// @import 'bootstrap/scss/tables';
// @import 'bootstrap/scss/forms';
// @import 'bootstrap/scss/dropdown';
// @import 'bootstrap/scss/button-group';
// @import 'bootstrap/scss/nav';
// @import 'bootstrap/scss/navbar';
// @import 'bootstrap/scss/accordion';
// @import 'bootstrap/scss/breadcrumb';
// @import 'bootstrap/scss/pagination';
// @import 'bootstrap/scss/badge';
// @import 'bootstrap/scss/alert';
// @import 'bootstrap/scss/progress';
// @import 'bootstrap/scss/spinners';
// @import 'bootstrap/scss/toasts';
// @import 'bootstrap/scss/modal';
// @import 'bootstrap/scss/tooltip';
// @import 'bootstrap/scss/popover';
// @import 'bootstrap/scss/carousel';
// @import 'bootstrap/scss/offcanvas';
// @import 'bootstrap/scss/placeholders';

@import '_mixins.scss';

@import '_root.scss';
@import '_reboot.scss';
@import '_helper.scss';

@import '_app.scss';
@import '_layout.scss';
@import '_ui.scss';
@import '_plugins.scss';
@import '_pages.scss';
@import '_widgets.scss';

